*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px 90px 600px 120px ;
}
.header{
    background-color:rgb(53,66,74);
    border-bottom: 0.2rem solid purple;
    display: flex;
    justify-content: space-between;
}
.header--left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    margin-left: 1.5rem;
}

.header--right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
span{
    color:purple ;
}
nav a{
    color: white;
    text-decoration: none;
    margin:1rem;
}
nav a:active {
    color: purple;
}
.main1{
    background-color: rgb(53,66,74);
    display: flex;
    justify-content: space-between;
}
.main1--left,.main1--right{
    color: white;
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
#main1-right-submit-input{
    width: 5rem;
    height: 2rem;
    background-color: red;
    color: white;
    border: none;
    margin-left: 0.2rem;
}
#main1--right-email-input{
    width: 13rem;
    height: 2rem ;
}
.main2{
    display: flex;
}
.main2-services{
    margin: 2rem 2rem 0.2rem 1rem;
    display: grid;
    grid-template-rows: 11.5rem 11.5rem 11.5rem;
}
.main2--design,.main2--maintenance,.main2--hosting{
    background-color: rgb(230,230,230) ;
    border: 0.1rem solid rgb(206, 202, 202) ;
    margin: 0.2rem;
    padding: 1rem 1rem;
    width: 100%;
    overflow-y: auto;
}
.main2-services h3,p{
    margin: 0.8rem 0.8rem;
    letter-spacing: 0.01rem;
}
.main2--form-content{
    background-color:rgb(53,66,74);
    margin: 1rem 0.5rem 0 3rem;
    padding: 1rem 2.5rem 1rem 1rem;
}

.main2--form-content h3{
    color: white;
    margin: 1rem 0 ;
}
label{
    color: white;
}
#main1--form-name,#main1--form-email{
    width: 22rem;
    height: 1.7rem;
}
#main1--form-submit-btn{
    background-color: red;
    border: none;
    width: 4.5rem;
    height: 2.2rem;
    color: white;
}
.footer{
    background-color: rgb(53,66,74);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer--content{
    color: white;
}
#footer--logo{
    width: 12rem;
}
@media (max-width: 850px){
    .header{
        justify-content:center;
        flex-direction: column;
     }   
    .header--left,.header--right{
        justify-content: center;
        margin: 5px;
        }
    .main1{
        justify-content:center;
        flex-direction: column;
        }   
     .main1--left,.main1--right{
        justify-content: center;
        margin: 5px;
        }
        body{
        font-size: smaller;
        }
        .main2--design,.main2--maintenance,.main2--hosting{
            overflow-y: auto;
            padding: 0.5rem;
        }
        .main2{
            display: flex;
            flex-direction: column;
        }
        .main2-services{
            justify-content: center;
        }
        .main2--form-content{
           justify-content: center;
           border: 5px solid red;
        }
    }