*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.header{
    background-color:rgb(53,66,74);
    border-bottom: 0.2rem solid purple;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.header--left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    margin-left: 1.5rem;
}

.header--right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
span{
    color:purple ;
}
nav a{
    color: white;
    text-decoration: none;
    margin:1rem;
}
nav a:active {
    color: purple;
}
.main1{
    background-color: rgb(53,66,74);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.main1--left,.main1--right{
    color: white;
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
#main1-right-submit-input{
    width: 5rem;
    height: 2rem;
    background-color: red;
    color: white;
    border: none;
    margin-left: 0.2rem;
}
#main1--right-email-input{
    width: 13rem;
    height: 2rem ;
}
.main2{
   display: flex;
    letter-spacing: 0.05rem;
    padding: 3rem;
}
.main2-what-we-do,.main2--about{
    margin:2rem ;
}
.main2--about p{
    margin:1rem 0 ;
}
#main2--about-content2,.main2-what-we-do{
    background-color:  rgb(53,66,74);
    color: white;
    padding: 1rem;
}
.main2-what-we-do {
 padding: 1rem;
}
.main2-what-we-do p{
    margin: 2rem  0rem 2rem 0 ;
}
.footer{
    background-color: rgb(53,66,74);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer--content{
    color: white;
}
#footer--logo{
    width: 12rem;
}
@media (max-width: 650px){
.header{
    justify-content:center;
    flex-direction: column;
    }   
.header--left,.header--right{
    justify-content: center;
    margin: 5px;
        }
.main1{
    justify-content:center;
    flex-direction: column;
    }   
.main1--left,.main1--right{
    justify-content: center;
    margin: 5px;
    }
body{
    font-size: smaller;
    }
.main2{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.main2-what-we-do,.main2--about{
    margin:3rem ;
}
}
@media (max-width: 500px){
.container{
}
}